.reveal .slides section .highlight .fragment {
  opacity: 0.5;
}
.reveal .slides section .highlight .fragment.current-fragment {
  opacity: 1;
}
.reveal .background-info {
  opacity: 0.5;
}
.reveal pre code {
  max-height: 600px;
  overflow-x: auto;
  word-wrap: normal;
}
.reveal blockquote:before,
.reveal blockquote:after {
  content: normal;
}
.reveal blockquote .quote:before {
  content: '\201C';
}
.reveal blockquote .quote:after {
  content: '\201D';
}
.reveal .column-containers {
  width: 49.5%;
  float: left;
}
.reveal .column-containers .content {
  margin-top: 15px;
  min-height: 280px;
}
.reveal .column-containers .content iframe {
  height: 280px;
}
.reveal .column-containers .right {
  float: right;
}
.reveal .example-button {
  font-size: 23px;
}
.reveal .hide {
  display: none;
}
