body {
    background: white;
}

p {
    padding: 15px;
}

.text {
    font-size: 23px;
}
.text button {
    font-size: 23px;
}
p.bg-success {
    background-color: #dff0d8;
}

.hide {
    display: none;
}